.LookUpCowRangeSearchTitle {
    padding: -5px 2px;
}

.LookUpCowRangeDisplay {
    text-align: center;
    min-height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 2vmin);
}

.LookUpCowRangeDisplayGraphWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.LookUpCowNoData {
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 50px;
}

.LookUpCowLoading {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: x-large;
    font-weight: 700;
    padding: 50px;
}