.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    padding: 20px 20px;
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 25%;
    height: 7%;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .popup_inner > h1 {
    font-size: medium;
  }

  .popup-size {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
  }

  .button, [type=confirm] {
    -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .6rem .5rem;
  margin: 2 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.OKButtonContainer {
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.OKButtonHeader {
    flex-grow: 1;
}


.popup-wrapper div {
  width: 50%;
  height: 50%
}



  