.flex-row-cow-errors{
  padding-left: 0rem;
  padding-right: 50rem;
  margin-top: 0rem;
}

.WeightHeading {
  margin-left: 300px;
}

.flex-row-weight-errors{
  padding-left: 15rem;
  padding-right: 50rem;
  margin-top: 5rem;
}

.flex-row-post-weight-errors{
  padding-left: 0rem;
  padding-right: -10rem;
  margin-top: 0rem;
}


.weight-container {
  padding: 20px 2px;
}

.weight-flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  
.weight-flex-large {
  padding-left: 7rem;
  padding-right: 12rem;
}

[type=weight-select] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 90%;
  max-width: 90%;
  line-height: 1;
}

[type=text] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 90%;
  max-width: 90%;
  line-height: 1;
}

[type=date]  {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
  }
 
.button, [type=weight-submit] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .6rem .5rem;
  margin: 2 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.weightTable {
  border-spacing: 70;
  width: 100%;
  max-width: 100%;
 }

.weightHead{
  border-bottom: 5px solid #dedede;
  padding: 0rem;
 }

.weightTh{
  border-bottom: 3px solid #dedede;
  padding: 2rem;
}  

.weightTd{
  border-bottom: 3px  solid #dedede;
}

.weightTh,.weightTd{
  text-align: match-parent;
  padding: .5rem;
}

