.CompareCow {
  display: flex;
  font-size: calc(2px + 2vmin);
}
  
.CompareCowCard {
  padding: 40px 100px 100px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 1rem;
}