.LookUpCowDaySearchTitle {
    padding: -5px 2px;
}

.LookUpCowDayDisplay {
    text-align: center;
    min-height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 2vmin);
}

.LookUpCowDayDisplayGraphWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}