.LookUpHerdDaySearchTitle {
    padding: -5px 2px;
}

.LookUpHerdDayDisplay {
    text-align: center;
    min-height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 2vmin);
}

.LookUpHerdDayDisplayGraphWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.LookUpHerdDayDetailsWrapper {
    display: flex;
    justify-content: space-around;
}

.LookUpHerdGroupTitle {
    margin-top: 50px;
}