
  .collar-container {
    padding: 20px 16px;
  }

  .CollarHeading {
    margin-left: 300px;
  }

  .collar-flex-large {
	padding-left: 7rem;
    padding-right: 12rem;
  }
  
  .collar-flex-row {
	margin-left: -1rem;
	margin-right: -1rem;
  }
  
  .collar-flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  
  .button, [type=collar-submit] {
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid #0366ee;
	border-radius: 4px;
	background: #0366ee;
	color: #ffffff;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	text-transform: none;
	padding: .6rem .5rem;
	margin: 2 0 0.5rem 0;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	line-height: 1;
  }

  .collarTable {
	border-spacing: 70;
	width: 100%;
	max-width: 100%;
  
   }
  
  .collarHead{
	border-bottom: 5px solid #dedede;
	padding: 0rem;
   }
  
  .collarTh{
	border-bottom: 5px solid #dedede;
	padding: 2rem;
  }  
  
  .collarTd{
	border-bottom: 3px solid #dedede;
  }
  
  .collarTh,.collarTd{
	text-align: match-parent;
	padding: .5rem;
  }

  .ValidationRules {
	  font-size: small;
  }