.CompareCowDateDetails{
    padding: 20px;
    display: block;
}

.startDatePicker {
    margin-right: 20px;
    margin-top: 5px;
}

.CompareCowRangeDateDetails {
    display: flex;
    flex-direction: column;
}

.CompareCowSingleDateDetails {
    display: flex;
    flex-direction: column;
}

.CompareCowRangeDateDetails > * {
    margin: 10px;
}

.CompareCowSingleDateDetails > * {
    margin: 10px;
}

.CompareCowRangeDateDetails > label {
    margin-bottom: -10px;
}

.CompareCowSingleDateDetails > label {
    margin-bottom: -10px;
}

.CompareCowRangeSubmit {
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid #0366ee;
	border-radius: 4px;
	background: #0366ee;
	color: #ffffff;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	text-transform: none;
	padding: .6rem .5rem;
	margin: 2 0 0.5rem 0;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	line-height: 1;
  }

  .CompareCowAmountOfDays {
    display: block;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 90%;
    max-width: 90%;
    line-height: 1;
  }