.error-Wrapper {
    background-color: #ffe6e6;
    border: red;
    border-style: solid;
}

.wrapper{
    margin: 2em;
    padding: 2em;
    height: 185px;
    width: 75%;
}

.error-Heading {

}

.error-Message {

}

.warning-Wrapper {
    background-color: #ffffb3;
    border: yellow;
    border-style: solid;
}

.warning-Heading {

}

.warning-Message {

}

.information-Wrapper {
    background-color: #ccd9ff;
    border: blue;
    border-style: solid;
}

.information-Heading {

}

.information-Message {

}