h2,h3,h4,h5,h6{
  margin: 0 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  color: #404040;
}

h1{
  margin: 0 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  color:   #404040;
  text-decoration: underline;
}

.report-container {
  padding-left: 322px;
  padding-top: 40px;
}

.ReportSelectors {
  max-width: 700px;
}

.button,   [type=report-submit] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .6rem .5rem;
  margin: 2 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  flex-grow: 1;
  max-width: 160px;
}

.ReportSelector {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 90%;
  max-width: 90%;
  line-height: 1;
}

[type=report-select] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 90%;
  max-width: 90%;
  line-height: 1;
}

.ReportDownloadButton {
  margin-left: 20px;
}

.ReportButtonContainer {
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ReportButtonHeader {
  flex-grow: 1;
}