#customTable {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #customTable td {
    border: 1px solid #ddd;
    padding: 1px;
  }

  #customTable th {
    border: 1px solid #ddd;
    padding: 1px;
  }
  
  #customTable tr:nth-child(odd) {
    background-color: rgb(19, 114, 161);
  }
  
  #customTable th {
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #B0BEC5;
    color: #344044;
    width: 10%;
  }
  
