.CompareCowRangeSearchTitle {
    padding: -5px 2px;
}

.CompareCowRangeDisplayWrapper {
    width: 100%;
    margin-right: 50px;
}

.CompareCowRangeDisplay {
    text-align: center;
    min-height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 2vmin);
}

.CompareCowRangeDisplayGraphWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 50px;
}

.CompareCowRangeDetailsWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}