#CowDetailsWrapper {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: large;
}
  
#CowDetailsWrapper td {
  border: 1px solid #ddd;
  padding: 1px;
  border-bottom: 3px solid #dedede;
}

#CowDetailsWrapper th {
  border-bottom: 5px solid #dedede;
  padding: 2rem;
}

#CowDetailsWrapper th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #B0BEC5;
  color: #344044;
}
