.LookUpHerdDateDetails{
    padding: 20px;
    display: block;
}

.startDatePicker {
    margin-right: 20px;
    margin-top: 5px;
}

.LookUpHerdRangeDateDetails {
    display: flex;
    flex-direction: column;
}

.LookUpHerdSingleDateDetails {
    display: flex;
    flex-direction: column;
}

.LookUpHerdRangeDateDetails > * {
    margin: 10px;
}

.LookUpHerdSingleDateDetails > * {
    margin: 10px;
}

.LookUpHerdRangeDateDetails > label {
    margin-bottom: -10px;
}

.LookUpHerdSingleDateDetails > label {
    margin-bottom: -10px;
}

.LookUpHerdRangeSubmit {
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid #0366ee;
	border-radius: 4px;
	background: #0366ee;
	color: #ffffff;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	text-transform: none;
	padding: .6rem .5rem;
	margin: 2 0 0.5rem 0;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	line-height: 1;
  }