#LookUpHerdActivityDayWrapper {
    font-size: small;
    width: 100%;
}

.LookUpHerdNoData {
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 50px;
}

.LookUpHerdLoading {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: x-large;
    font-weight: 700;
    padding: 50px;
}