.DateRangeSelector{
    text-align: left;
    display: flex;
    padding-top: 20px;
}

.cowIdLabel {
    margin-right: 40px;
}

.SelectRangeLabel {
    margin-right: 40px;
}

.CowSelectionDetails > span {
    color: red;
    font-style: italic;
}

.CowSelectionDetails {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.8;
    color: #404040;
    width: 40%;
}

.CowSelector {
    display: block;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 90%;
    max-width: 90%;
    line-height: 1;
}

.DateTypeSelectors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LookUpCowForm {
    padding-top: 20px;
}