
.LookUpCowSingleDateDetails{
    display: block;
    width: 100%;
    padding-top: 50px;
}

.StartDatePicker {
    margin-right: 20px;
    margin-top: 5px;
}

/* Sets button appearance */ 
.LookUpCowRangeSubmit, .LookUpCowRangeSubmitButton {
    -webkit-appearance: none;
    display: inline-block;
    border: 1px solid #0366ee;
    border-radius: 4px;
    background: #0366ee;
    color: #ffffff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: .6rem .5rem;
    margin: 2 0 0.5rem 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}

.LookUpCowRangeSubmitButton {
    margin-top: 10px;
}

.DateDetailsSelectorLabel {
  margin-right: 10px;
}

.DateDetailsRange {
  display: flex;
  flex-direction: column;
}