.UploadDataFile {
    text-align: center;
    /*background-color: rgb(206, 213, 223);*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    padding-top: 50px;
}
  
.UploadCard {
    background-color: white;
    padding: 0px 100px 100px 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.UploadStatusTable {
  margin-top: 100px;
}