h1 {
    margin: 0 0;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.8;
    color:   #404040;
    text-decoration: underline;
}

[type=register-text] {
    display: block;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 30%;
    max-width: 100%;
    line-height: 1;
}

[type=password] {
    display: block;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 30%;
    max-width: 100%;
    line-height: 1;
}
  
  .button, [type=register] {
	  -webkit-appearance: none;
    display: inline-block;
    border: 1px solid #0366ee;
    border-radius: 4px;
    background: #0366ee;
    color: #ffffff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: .6rem .5rem;
    margin: 2 0 0.5rem 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
  }

.RegSubmitButton {
    margin-top: 10px;
}

.RegButtonContainer {
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
      
.RegButtonHeader {
    flex-grow: 1;
}
 
  
  
  
  