/* This file handles the global CSS for the application */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #cfd1cf !important;
}