.LookUpHerdSelectionDetails {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.8;
    color: #404040;
    width: 50%;
    min-width: 500px;
}


.DateRangeSelector{
    text-align: left;
}

.MultiCowSelect > * {
    font-size: small;
}

.LookUpHerdSelectionDetails > span {
    color: red;
    font-style: italic;
}

.LookUpHerdDateRangeSelector {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.LookUpHerdRangeSelectors {
    margin-left: 100px;
}