
  .cow {
    text-align: center;
    background-color: rgb(206, 213, 223);
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: small;*/
  }

h1 {
  margin: 0 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  color:   #404040;
  text-decoration: underline;
}
  
  .cow-container {
    padding: 40px 100px 100px 100px;
    margin-left: 100px;
  }

  .CowHeading {
    margin-left: 100px;
  }

  .cow-flex-large {
	padding-left: 3rem;
  padding-right: 7rem;
  }
  
  .cow-flex-row{
	margin-left: 5rem;
	margin-right: 5rem;
  }
  
  .cow-flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }
  
  .button, [type=cow-submit] {
	  -webkit-appearance: none;
    display: inline-block;
    border: 1px solid #0366ee;
    border-radius: 4px;
    background: #0366ee;
    color: #ffffff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: .6rem .5rem;
    margin: 2 0 0.5rem 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
  }
  
  [type=cow-text-edit] {
	  display: block;
	  border: 1px solid #dedede;
	  border-radius: 4px;
	  padding: 0.75rem;
	  outline: none;
	  background: transparent;
	  margin-bottom: 0.5rem;
	  font-size: 1rem;
	  width: 80%;
	  max-width: 80%;
	  line-height: 1;
  }

  [type=cow-text] {
	  display: block;
	  border: 1px solid #dedede;
	  border-radius: 4px;
	  padding: 0.75rem;
	  outline: none;
	  background: transparent;
	  margin-bottom: 0.5rem;
	  font-size: 1rem;
	  width: 90%;
	  max-width: 90%;
	  line-height: 1;
  }

  [type=cow-date] {
    display: block;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 0.75rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 120%;
    max-width: 120%;
    line-height: 1;
	}
	
  [type=allocate-select] {
		display: block;
		border: 1px solid #dedede;
		border-radius: 4px;
		padding: 0.75rem;
		outline: none;
		background: transparent;
		margin-bottom: 0.5rem;
		font-size: 1rem;
		width: 90%;
		max-width: 90%;
		line-height: 1;
	}

  .cowTable {
    border-spacing: 70;
    width: 100%;
    max-width: 100%;
  }
      
  .cowHead{
    border-bottom: 5px solid #dedede;
    padding: 0rem;
  }
      
  .cowTh{
    border-bottom: 2px solid #dedede;
    padding: -1rem;
  }  
      
  .cowTd{
    border-bottom: 3px solid #dedede;
  }
      
  .cowTh,.cowTd{
    text-align: match-parent;
    padding: .5rem;
  }

 
  
  
  
  
  
  