
.CompareCowMapRange {
    height: 350px;
    width: 50%;
}

.CompareCowMapKeyWrapper {
    font-size: medium;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-weight: 500;
}

.CompareCowMapKeyGroup1 {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.CompareCowMapKeyGroup2 {
    background-color: blue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
.CompareCowKeyDiv {
    display: inline-flex;
    align-items: center;
}